<p>Name: <%= @location.first.name %></p>
<p>Fuel Type: <%= @location.first.fuel_type %></p>
<p>Access Time: <%= @location.first.access_time %></p>
<p>Street Address: <%= @location.first.street_address %></p>